.App {
    text-align: center;
    padding: 50px 0;
    background-color: #282c34;
    min-height: 100vh;
}

.App-Input {
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.App-Input:focus {
    outline: none;
}

.App-Image {
    margin-top: 20px;
}

.App-Image > img {
    width: 100%;
    min-width: 300px;
    max-width: 500px;
}

.App-Button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    background-color: #eee;
}
